
/* 
id will always have a higher precdence than class 

Use CSS flexbox to create the columns
*/

:root{
    font-family: 'Open Sans'
}

body{
    background-color: #3b404c;
}

header{
    background-color: #28b4da;
}

h1{
    color: white;
}

.container{
    background-color: #2c2f38;
    position: relative; left: 50%;
    transform: translateX(-50%);
}


.column-container{
    /* I'm flexing the column-container */
    display: flex;
    width: 800px;

    background-color: white;

    border: solid;
    border-width: 3px;
    border-color: #28b4da;
    border-radius: 5px;

    position: relative; left: 50%;
    transform: translateX(-50%);

    /* position: relative;
    top: 10px; 
    I don't want to change the relative position because the other divs don't change relative to it*/
}

#target-column{
    background-color: green;
    /* https://stackoverflow.com/questions/29885284/how-to-set-a-fixed-width-column-with-css-flexbox */
    flex: 0 0 25em;
}

#linked-column{
    background-color: red;
    flex: 0 0 25em;
}


#inside-1{
    background-color: rgb(0, 173, 173);
/* This margin is what is putting the inner boxes off the outer box */
    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: #28b4da;
    border-radius: 5px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


}

#inside-2{
    
    background-color: rgb(0, 173, 173);

    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: #28b4da;
    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}    

/* Styles the div that gets created in the target column */
#target{
    
    background-color: rgb(0, 173, 173);

    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: #28b4da;
    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}    

/* Styles the div that gets created in the linked column */
#linked{
    
    background-color: rgb(0, 173, 173);

    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: #28b4da;
    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}  

.linked-column-table{
    
    background-color: rgb(0, 173, 173);

    margin: 10px;

    border: solid;
    border-width: 1px;
    border-color: #28b4da;
    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}  